<div class="jumbotron center">
  <h2>Welcome</h2>
  <%= link_to crops_path, class: "btn btn-success" do %>
    Need help on Nutrition?
  <% end %><br /><br />
  <%= link_to crops_path, class: "btn btn-success" do %>
    Need help for growing new crop?
  <% end %>
</div>










<% if false %>
  <% if user_signed_in? %>
  <% else %>
    <p>
      <%= link_to new_user_session_path, class: "btn btn-success btn-lg" do %>
      <span class="glyphicon glyphicon-log-in"></span>  Sign In
      <% end %>

      <%= link_to new_user_registration_path, class: "btn btn-success btn-lg" do %>
      <span class="glyphicon glyphicon-new-window"></span>  Sign up
      <% end %>
    </p>
  <% end %>
<% end %>