
  <%= link_to crops_path, class: "btn btn-block btn-lg btn-lg1 home-body1" do %>
    <h3 style="color: #00261c;">Pest/Disease Control Guide</h3>
  <% end %>
  <%= link_to crops_path, class: "btn btn-block btn-lg btn-lg2 home-body2" do %>
    <h3 style="color: #00261c;">Crop Cultivation Guide</h3>
  <% end %>


























<% if false %>
  <% if user_signed_in? %>
  <% else %>
    <p>
      <%= link_to new_user_session_path, class: "btn btn-success btn-lg" do %>
      <span class="glyphicon glyphicon-log-in"></span>  Sign In
      <% end %>

      <%= link_to new_user_registration_path, class: "btn btn-success btn-lg" do %>
      <span class="glyphicon glyphicon-new-window"></span>  Sign up
      <% end %>
    </p>
  <% end %>
<% end %>