// Place all the styles related to the Languages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#languages {
  margin: 0 auto;
}

.boxl {
  margin: 5px;
  width: 160px;
  height: 160px;
}

.boxl img {
  width: 100%;
  height: 123px;
}
.title {
  color: white;
}
.h3h {
  color: 005126;
}